h1{
  background: #addd;
  text-align: center;
}
nav list{
  display: flex;
}

nav list li{
  list-style: none;
  margin: 2%;
  box-shadow: 2px 2px 2px 1px black;
  padding: 2% 3%;
}
nav list li a{
  text-decoration: none;
}
.box1{
  width: 100%;
}
.box2{
  width: 98%;
  display: flex;
  text-align: center;
  margin: 1%;
  box-shadow: 2px 2px 2px 2px red;
  justify-content: space-around;
}
img{
  max-width: 20vw;
  max-height: 20vh;
  margin: auto;
}


@media (min-device-width:320px) and (max-device-width:480px) {
.box2{
  flex-wrap: wrap;
  margin-bottom: 3%;
}
img{
  max-width: 40vw;
  max-height: 40vh;
}
section{
  width:100%;
}
}

